@import url("https://fonts.googleapis.com/css2?family=Kalam&family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Playfair Display", serif;
}

#nav-logo {
  width: 100px;
  height: 15%;
}

.navbar-brand {
  width: 150px;
  padding-top: 8px;
}

.carousel-item {
    height: 88vh;
    width: 100vw;
}

.carousel-item img {
    height: 100%;
}

#ql-logo {
    margin-top: 40px;
    /* padding-left: 20px; */
    width: 125px;
  /* height: 15%; */
}